<!doctype html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

    <script id="new_card" type="text/html">
        <div class="card">
            <img class="card-img-top img-fluid" id="card_first_image" />
            <div class="card-block">
                <h3 class="card-title" id="card_name"></h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="card_line1"></li>
                <li class="list-group-item" id="card_line2"></li>
                <li class="list-group-item" id="card_line3"></li>
            </ul>
            <div class="card-block" style="text-align: center;">
                <a id="card_link" target="_blank">읽으러 가기</a>
            </div>
        </div>
    </script>

    <script>
        var first_time;
        var url_list;
        var index;
        var url;
        var timeout_time = 1000;

        function update() {
            console.log($(".card").length)
            console.log($(".card").length === index)
            if (typeof url_list === 'undefined') {
                url = '';
            } else {
                if (index < url_list.length) url = url_list[index];
                else {
                    index += 1;
                    return;
                }
            }
            $.ajax({
                url: "/update/",
                type: "POST",
                timeout: timeout_time,
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    first_time: first_time,
                    url: url,
                },
                dataType: "json",
                success: function(json) {
                    if (first_time) {
                        url_list = JSON.parse(json.url_list);
                    } else if (typeof json.title !== 'undefined' && json.title.length !== 0 && $(".card").length === index) {
                        console.log(index);
                        card = $($("#new_card").html());
                        card.find("#card_name").text(json.title);
                        card.find("#card_first_image").attr("src", json.image_url);
                        card.find("#card_link").attr("href", json.url);
                        card.find("#card_line1").text(json.line1);
                        card.find("#card_line2").text(json.line2);
                        card.find("#card_line3").text(json.line3);
                        $("#card_cols").append(card);
                        index += 1;
                    }
                    console.log(json);
                    console.log("OK");
                }
            });
        }

        function loop() {
            console.log("looping");
            update();
            first_time = false;
            if (typeof url_list === 'undefined') {
                first_time = true;
                setTimeout("loop()", timeout_time);
            } else if (url_list.length > index) {
                setTimeout("loop()", timeout_time);
                $("#done-bar").attr("value", index + 1);
                $("#done-bar").attr("max", url_list.length);
            } else $("#loader").empty();
        };

        $(document).ready(function() {
            first_time = true;
            index = 0;
            $("#loader").append("<progress value=\"0\" max=\"100\" id=\"done-bar\" class=\"progress progress-info\"></progress>");
            loop();
        });
    </script>
    <style>
        #navbar-title {
            text-align: center;
            float: none;
        }
        
        @media (min-width: 40em) {
            .card-columns {
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
            }
        }
        
        @media (min-width: 60em) {
            .card-columns {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
            }
        }
        
        @media (min-width: 80em) {
            .card-columns {
                -webkit-column-count: 4;
                -moz-column-count: 4;
                column-count: 4;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-faded">
        <h1 id="navbar-title">Today3Line</h1>
    </nav>

    <div id="loader"></div>
    <br>

    <div class="card-columns" id="card_cols">
    </div>
</body>

</html>