<!doctype html>
<html>

<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <script id="new_card" type="text/html">
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" id="card_first_image" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" id="card_name"></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title activator grey-text text-darken-4">3줄 요약<i class="material-icons right">close</i></span>
                    <ul>
                        <li id="card_line1"></li>
                        <li id="card_line2"></li>
                        <li id="card_line3"></li>
                    </ul>
                    <div class="card-action center">
                        <a id="card_link" target="_blank">읽으러 가기</a>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script>
        var first_time;
        var url_list;
        var index;
        var url;
        var timeout_time = 1000;

        function update() {
            console.log($(".card").length)
            console.log($(".card").length === index)
            if (typeof url_list === 'undefined') {
                url = '';
            } else {
                if (index < url_list.length) url = url_list[index];
                else {
                    index += 1;
                    return;
                }
            }
            $.ajax({
                url: "/update/",
                type: "POST",
                timeout: timeout_time,
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    first_time: first_time,
                    url: url,
                },
                dataType: "json",
                success: function(json) {
                    if (first_time) {
                        url_list = JSON.parse(json.url_list);
                    } else if (typeof json.title !== 'undefined' && json.title.length !== 0 && $(".card").length === index) {
                        console.log(index);
                        card = $($("#new_card").html());
                        card.find("#card_name").text(json.title);
                        card.find("#card_first_image").attr("src", json.image_url);
                        card.find("#card_link").attr("href", json.url);
                        card.find("#card_line1").text(json.line1);
                        card.find("#card_line2").text(json.line2);
                        card.find("#card_line3").text(json.line3);
                        $("#card_rows").append(card);
                        index += 1;
                    }
                    console.log(json);
                    console.log("OK");
                }
            });
        }

        function loop() {
            console.log("looping");
            update();
            first_time = false;
            if (typeof url_list === 'undefined') {
                first_time = true;
                setTimeout("loop()", timeout_time);
            } else if (url_list.length > index) {
                setTimeout("loop()", timeout_time);
            } else $("#loader").empty();
        };

        $(document).ready(function() {
            first_time = true;
            index = 0;
            $("#loader").append("<div class=progress><div class=indeterminate></div></div>");
            loop();
        });
    </script>
    <style>
        center {
            font-family: Roboto;
            font-weight: thin;
        }
    </style>
</head>

<body>
    <div class="container">
        <nav class="light-green">
            <div class="nav-wrapper">
                <h1 class="center">Today3Line</h1>
            </div>
        </nav>
        <div id="loader"></div>
        <br>
        <div class="row" id="card_rows">
        </div>
    </div>
</body>

</html>